In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import chardet

Importing our data set

In [2]:
with open("NetflixOriginals.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

Movies_dataset = pd.read_csv("NetflixOriginals.csv", encoding="Windows-1251")
Movies_dataset.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

Statistical Informations About Dataset

In [3]:
Movies_dataset.shape

(584, 6)

In [4]:
Movies_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       584 non-null    object
 1   Genre       584 non-null    object
 2   Premiere    584 non-null    object
 3   Runtime     584 non-null    int64
 4   IMDB Score  584 non-null    float64
 5   Language    584 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 27.5+ KB

In [5]:
Movies_dataset.isnull().sum()

Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

In [6]:
Movies_dataset.describe()

          Runtime  IMDB Score
count  584.000000  584.000000
mean    93.577055    6.271747
std     27.761683    0.979256
min      4.000000    2.500000
25%     86.000000    5.700000
50%     97.000000    6.350000
75%    108.000000    7.000000
max    209.000000    9.000000

In [10]:
Movies_dataset_numerical = Movies_dataset.select_dtypes(include=[np.number])
Movies_dataset_categorical = Movies_dataset.select_dtypes(include=[object])

Movies_dataset_categorical["Date"] = pd.to_datetime(Movies_dataset_categorical["Premiere"])
Movies_dataset_categorical["Year"] = Movies_dataset_categorical["Date"].dt.year
Movies_dataset_categorical["Month"] = Movies_dataset_categorical["Date"].dt.month
Movies_dataset_categorical["Day"] = Movies_dataset_categorical["Date"].dt.day

In [11]:
Movies_dataset_categorical.head()

,Title,Genre,Premiere,Language,Date,Year,Month,Day
0,Enter the Anime,Documentary,"August 5, 2019",English/Japanese,2019-08-05,2019,8,5
1,Dark Forces,Thriller,"August 21, 2020",Spanish,2020-08-21,2020,8,21
2,The App,Science fiction/Drama,"December 26, 2019",Italian,2019-12-26,2019,12,26
3,The Open House,Horror thriller,"January 19, 2018",English,2018-01-19,2018,1,19
4,Kaali Khuhi,Mystery,"October 30, 2020",Hindi,2020-10-30,2020,10,30

In [9]:
Movies_dataset_numerical.head()

   Runtime  IMDB Score
0       58         2.5
1       81         2.6
2       79         2.6
3       94         3.2
4       90         3.4

In [15]:
Movies_dataset_categorical["Genre"].nunique()

115

In [17]:
Movies_dataset_categorical.Genre.value_counts(normalize=True)

Documentary                             0.272260
Drama                                   0.131849
Comedy                                  0.083904
Romantic comedy                         0.066781
Thriller                                0.056507
                                          ...
Romantic comedy-drama                   0.001712
Heist film/Thriller                     0.001712
Musical/Western/Fantasy                 0.001712
Horror anthology                        0.001712
Animation/Christmas/Comedy/Adventure    0.001712
Name: Genre, Length: 115, dtype: float64

In [21]:
Genre_counts = Movies_dataset_categorical.Genre.value_counts()
Genre_counts.head(20)

Documentary                 159
Drama                        77
Comedy                       49
Romantic comedy              39
Thriller                     33
Comedy-drama                 14
Crime drama                  11
Biopic                        9
Horror                        9
Action                        7
Romance                       6
Concert Film                  6
Aftershow / Interview         6
Animation                     5
Action comedy                 5
Romantic drama                5
Psychological thriller        4
Science fiction/Thriller      4
Variety show                  4
Science fiction               4
Name: Genre, dtype: int64

Proportion Of English

In [51]:
def PropCalc(data,columnname):
    Language_counts = Movies_dataset_categorical.Language.value_counts()
    English = Language_counts.loc[colı]
    return English / Language_counts.sum()

Proportion of english movies: 0.6866438356164384
English             401
Hindi                33
Spanish              31
French               20
Italian              14
Portuguese           12
Indonesian            9
Japanese              6
Korean                6
German                5
Turkish               5
English/Spanish       5
Polish                3
Dutch                 3
Marathi               3
English/Hindi         2
Thai                  2
English/Mandarin      2
English/Japanese      2
Filipino              2
Name: Language, dtype: int64

Ratio of English-language films to films in a single language that is NOT English

In [33]:
print("Ratio of english movies to all movies: %{}".format(English/Movies_dataset_categorical[Movies_dataset_categorical["Language"]!="English"].value_counts().sum()))

Ratio of english movies to all movies: %2.191256830601093